@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.etat-list {
    @apply absolute z-50 bg-white border border-gray-200 shadow-lg p-2;
}

.save-etat {
    @apply mt-2 px-2 py-1 bg-blue-500 text-white rounded hover:bg-blue-600;
}

.cancel-etat {
    @apply mt-2 px-2 py-1 bg-gray-500 text-white rounded hover:bg-gray-600;
}


@media (min-height: 632px) {
    .fixed-on-h632 {
        position: fixed;
    }
}

.tr-head {
    @apply bg-[#f8f8f8] border-b-2 border-gray-200 
}

.tr-body {
    @apply bg-white divide-y border-b border-gray-200 divide-gray-200 hover:bg-gray-50 transition-all duration-200
}

.th-class {
    @apply px-4 py-3 text-left text-gray-700 ml-1 text-xs font-medium uppercase tracking-wider
}

.td-class {
    @apply px-4 py-4 whitespace-normal text-left text-gray-700 ml-1 text-sm font-medium 
}

.active {
    @apply text-[#0455b7] bg-[#c8d3f659]
}

        /* Modal overlay styles */
        #modal-overlay {
            transition: opacity 0.3s ease;
        }

        /* Modal styles */
        #modal {
            transition: transform 0.3s ease;
        }

        /* Slide-in animation */
        #modal.slide-in {
            transform: translateX(0);
        }
